.navbar-collapse .navbar-nav .nav-item .nav-link{
    color: #364f5f;
    font-size:15px;
    font-weight:bold;
    margin-right: 10px;
}
#about_me{
    background-color: #e2eef5;
    color: #29b429;
    min-height:60vh;
}
.head_pic{
    height: 400px;
    margin: 20px;
}
#side_project{
    background-color: #4c91bc;
    color: #c8dee9;
    min-height:45vh;
}
#programming_skills{
    background-color: #d0e0ea;
    color: #6c767b;
    min-height:30vh;
}
#information{
    background-color: #233641;
    color: #6c767b;
    min-height:10vh;
}

.card-text{
    font-size:18px;
    font-family: monospace;
}
.li_item::marker {
    content: '* ';
    font-size: 1.2em;
}