
/* ---font Rule--- */
@font-face {
    font-family: "JasonHandWritingFonts";
    src: url("../assets/fonts/JasonHandwriting2-Medium.woff");
  }
mark{
    background-color: transparent!important;
    background-image: linear-gradient(transparent 40%,#b3d3f7, #c19ae0);
}
.titlehead {
    letter-spacing:0.4em;
    font-family:'Franklin Gothic Medium', Arial;
}

/* ---Navbar---*/
.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #695c6e;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    /* text underline; */
    background-image: linear-gradient(#a295a7, #a295a7);
    background-size: 0% 0.1em;
    background-position-y: 85%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out;
}
.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    color: #a295a7;
    /* text underline; */
    background-size: 100% 0.1em;
    background-position-x: 0%;
}
.navbar {
    background-color: #c2b8ca;
}

/* ---Head---*/
.head {
    /* background-color: rgba(229, 222, 235, 0.788); */
    /* min-height: 100vh; */
    background-image: url('../assets/images/back.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.head_back{
    background-color: rgba(211, 194, 224, 0.38);
}
.head_head{
    position: relative;
}
.head_img{
    /* border:  5px solid #666; */
    border-radius: 50%  50%  50%  50% ;
    width: 100%;
    height: 100%;
    max-width: 650px;
    max-height: 650px;
}
.head_pic{
    width: 40%;
    height: 30%;
    max-width: 300px;
    max-height: 220px;
    position:absolute;
    left:0px;
    bottom:-15px;
    margin: 20px;
}
.head_text {
    color: #27172b;
    padding: 20px;
    font-family:JasonHandWritingFonts;
}
.head_btn {
    padding-top: 20px; 
} 
.head_btn .btn{
    background-color:#fff178f1 ;
    font-family:'Franklin Gothic Medium', Arial;
    font-size: 20px;
}
.head_btn .btn:hover{
    background-color: #5d4966c7;
    color: #fff178f1;
}
.head_btn .btn:active{
    background-color: #5d4966c7!important;
    color: #fff178f1!important;
    transition: .3s;
}

/* ---About Me---  */
.aboutMe {
    background-color: #ffffff;
    font-family:JasonHandWritingFonts;
    white-space: normal; 
    word-break:break-all;
}


/* ---experience--- */
.experience {
    background-color: #fcf7fd;
}
/* > ，影響底下第一層子元素。"空格"影響底下所有元素 */
.experienceEducation{
    font-size: 23px;
}
.experienceEducation > li{
    display: flex;
    margin: 0 0 10px;
    font-weight: bold;
    margin-top: 30px;
}
.experienceEducation li{
    list-style-type:none;
    display:block;
    white-space: normal;
    word-break:break-all;
}
.experienceEducation ul{
    border-left: 8px solid;
    border-image: linear-gradient(to bottom, #bb87f7,#955dda,#3f76e4, #6497fddc)1;
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;
}


/* ---Project--- */
.project {
    background-color: #fcf7fd;
    font-weight: bold;
}
.project img{
    opacity:0.85;
    filter:alpha(opacity=85);
}

.project .card{
    /*set center*/
    position: relative;
    display: block;
    background-color: transparent;
    border-color: transparent;
}
.project_btn{
    background-color: rgba(134, 134, 134, 0.507);
    visibility: hidden;
    height: 95%;
    width: 100%;
    margin-top: 10px;
    /*set center*/
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.project_btn a{
    color: #fff8bb;
    font-family:'Franklin Gothic Medium', Arial;
    text-decoration: none;
    position:absolute;
    bottom:0;
    left:0;
    white-space: normal;
    word-break:break-all;
}
@media (max-width: 300px) {
    .project_btn a h3{
        font-size:20px !important;
    }
    .project_btn a h4{
        font-size:10px !important;
    }
    .project_btn a h6{
        font-size:5px !important;
    }
  }
@media (max-width: 245px) {

    .project_btn a h3{
        visibility: hidden;
    }
    .project_btn a h4{
        visibility: hidden;
    }
    .project_btn a h6{
        visibility: hidden;
    }
}
/* ---Contact--- */
.contact {
    background-color: #ffffff;
    color: rgb(12, 12, 12);
}


/* ------ */
hr.line{
    border-top: 3.5px solid rgb(155, 146, 160);
}

